.caixa {
    width: 400px;
    height: 575px;
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 100px;
}

.cadastro_text {
    font-size: 50px;
    font-family:  'Signika', sans-serif;
    font-weight: 600;
    margin-bottom: 10%;
    text-align: center;
}

.btn_concluir {
    margin-top: 6%;
    width: 100%;
    background-color: #476d8d !important;

}

.btn_voltar {
    background-color: white !important;
    margin: 0 auto !important;
    margin-top: 2% !important;
    width: 400px;
    color: #212529 !important;
    font-family:  'Signika', sans-serif !important;
    font-weight: 600 !important;
    border-radius: 20px !important;
    height: 60px;
    border-color: white !important;
    font-size: 24px !important;
}

.voltar {
    width: 100%;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 500px) {
    .caixa {
        width: 340px;
        height: 575px;
        background-color: white;
        padding: 30px;
        border-radius: 20px;
        margin: 0 auto;
        margin-top: 100px;
    }

    .btn_voltar {
        background-color: white !important;
        margin: 0 auto !important;
        margin-top: 2% !important;
        width: 340px;
        color: #212529 !important;
        font-family:  'Signika', sans-serif !important;
        font-weight: 600 !important;
        border-radius: 20px !important;
        height: 60px;
        border-color: white !important;
        font-size: 24px !important;
    }
}